.gallery {
    margin-bottom: 50px;
  }
  .gallery img {
    transition: 0.5s; 
    width: 80%;
    height: 100%;
  }
  .gallery .items {
    padding: 15px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: center;
  }
  .gallery h3 {
    margin: 10px 0 10px 0;
    font-weight: 400;
  }
  .gallery .img {
    position: relative;
    overflow: hidden;
    width: 380px;
    height: 252px;
  }
  
  .gallery i {
    position: absolute;
    top: 45%;
    left: 45%;
    z-index: 5;
    font-size: 40px;
    color: white;
    opacity: 0;
    transition: 0.5s ease-in-out;
  }
  
  .gallery .items:hover img {
    transform: scale(0.5);
    cursor: pointer;
  }
  .gallery .items:hover i{
    opacity: 1;
    cursor: pointer;
  }
  .popup {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: 8;
  }
  
  .hide {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
  }
  .popup-content {
    position: absolute;
    top: 15%;
    left: 20%;
  }
  .popup button {
    background: #31b675;
    color: #fff;
    padding: 20px 20px;
    position: absolute;
    top: 0%;
    right: 0%;
    font-weight: bold;
  }
 