.navbar{
    background-color: #222222;
    position: relative;
    top: 0;
    /* z-index: 10; */
    height: 10vh;
    line-height: 10vh;
}

nav ul li {
    display: inline-block;
    margin: 0 30px 0 0;
  }

  nav ul li a {
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 1px;
   
  }
  nav ul li a:hover {
    color: #31b675;
  }

  .nav-links-mobile {
    display: none;
  }
  .menu-icon {
    display: none;
  }
  nav i {
    color: #fff;
  }
  .login-area {
    color: white;
  }
  
  .login-area a {
    font-weight: 400;
    margin: 0 5px 0 15px;
    font-size: 15px;
    color: white;
  }
  .login-area a:hover{
    color: #31b675;
  }
  .login-area button {
    margin-left: 5px;
  }

  
/*--------header------------*/


header {
  padding: 40px 0 20px 0;
  background-color: #fff;
}
header .box {
  margin: 0 0 0 30px;
}
header a {
  font-size: 13px;
  color: grey;
}
header i {
  font-size: 40px;
  color: #31b675;
  margin-right: 15px;
}
header .text {
  margin-top: 10px;
}
header h4 {
  line-height: 10px;
}

/*--------header------------*/


.signin{
  color: beige;
}
